@font-face {
    font-family: Lexend;
    src: url("fonts/Lexend-Regular.ttf");
}

body {
    background-color: #666;
    font-family: Lexend;
    text-align: center;
    justify-content: center;
    display: block;
}

h1 {
    text-align: center;
    color: #66B4FF;
    font-size: 40px;
    font-family: Lexend;
}

form {
    display: inline-flex;
    flex-direction: column;
    background-color: #666;
    border: 5px solid #75f;
    padding: 10px;
    width: 400px;
    height: auto;
    justify-content: space-between;
    margin: 20px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
}

button {
    font-family: Lexend;
    color: #AF4CAB;
    background-color: #4CAF50;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 200px;
    opacity: 0.9;
}