<!DOCTYPE html>
<html lang="fr">

<head>
<meta charset="utf-8" />
<title>Authentification</title>
<link rel="stylesheet" href="../static/style2.css" />
<link rel="icon" href="../static/icon/ballot-box-with-ballot_1f5f3-fe0f.png">
</head>

<body>
    <h1>Veuillez vous authentifier :</h3>
    <form id="form_auth" action="auth" method="POST">
        <label for="chp_login">Login : <input id="chp_login" name="chp_login" size="12" placeholder="Login"/></label>
        <label for="chp_mdp">Password : <input type="password" id="chp_mdp" name="chp_mdp" size="12" placeholder="Password" /></label>
        <input id="btn_valider" type="submit" value="Valider">
    </form>

<img src="../static/images/boite_a_vote-removebg-preview.png" alt="image boite a vote"/>

</body>

</html>